<div>
	<h3> {{blog.title}} </h3>
	<hr>
	<button routerLink="/blogs/{{blog._id}}/addentry">Create New Entry</button>
	<button routerLink="/blogs">Back</button>
	<hr>
	<table>
		<tr>
			<td>Entry Title</td>
			<td>Date Posted</td>
			<td>Actions</td>
		</tr>
		<tr *ngFor="let entry of blog.entries">
			<td> {{entry.title}} </td>
			<td> {{entry.createdAt}} </td>
			<td>
				<button (click)="showEntry(blog._id, entry._id)">Show</button>
				<button (click)="deleteEntry(entry._id)">Delete</button>
			</td>
		</tr>
	</table>
</div>